[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
jupyterlab = "*"
torch = "*"
torchvision = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
opencv-python = "*"
tqdm = "*"
torchsummary = "*"
torch-lr-finder = "*"
ipywidgets = "*"

[requires]
python_version = "3.6"
