body {
  background-color: #546e7a;
  color: white;
  font-family: Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

a,
a:visited {
  color: white;
}

h1 {
  text-align: center;
}

.hidden {
  display: none !important;
}

#installContainer {
  position: absolute;
  bottom: 1em;
  display: flex;
  justify-content: center;
  width: 100%;
}

#installContainer button {
  background-color: inherit;
  border: 1px solid white;
  color: white;
  font-size: 1em;
  padding: 0.75em;
}
